#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Robot User Interface
Name[fr]=Interface Utilisateur
Comment=SARA Robot control and monitoring
Comment[fr]=Contrôle et surveille le robot SARA
GenericName=Robot UI
GenericName[fr]=IHM du Robot
Keywords=UI;User Interface;Control;Ros;Sara;Robot;Walking;Machine;IHM
Exec=bash -c "~/sara_ws/src/sara_ui/launcher.sh"
Terminal=false
Type=Application
Icon=/home/sara/sara_ws/src/sara_ui/logo.png
Categories=ROS;
StartupNotify=true
Actions=Debug;

[Desktop Action Debug]
Name=Open Interface in Debug Mode
Name[fr]=Ouvre l'interface en mode Deboguage
Exec=bash -c "source ~/.bashrc;rosrun sara_ui sara_ui"
OnlyShowIn=Unity;
