<launch>
	<machine	name="local"	address="192.168.0.202" />											<!-- Local machine		-->
	<machine	name="core"	address="192.168.0.118"	user="lucas"	password="mauricel"	env-loader="/opt/ros/kinetic/sara_core.sh" />	<!-- Core machine		-->

	<node		name="pi_ui"		pkg="sara_ui"	type="sara_ui"		machine="local"	respawn="false"	output="screen"	/>		<!-- Run UI on Raspberry Pi	-->
	<node		name="core_helper"	pkg="sara_ui"	type="sara_ui_helper"	machine="core"	respawn="false"	output="screen"	/>		<!-- Launch helper on Core	-->
</launch>
