<launch>
	<machine name="local"	address="localhost"/>
	<machine name="core"	address="192.168.0.118"	user="lucas"/>
	<node  name="sara_ui_core_helper" pkg="sara_ui"   type="sara_ui_helper"  machine="core" respawn="false" output="screen"/>
	<node  name="sara_ui_raspberry"	pkg="sara_ui"	type="sara_ui"	machine="local" respawn="false" output="screen"/>
</launch>
